.body {
  width: 100%;
  height: 50px;
  background-color: white; 
  background-image: linear-gradient(to right, white , gray);
  border:1px solid black;
  padding: 32px 8px;
  }
  .navbutton {
    background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  }
  .navtext {
    color: black;
    font-family: 'Moul'; 
    font-size: 100%;
  }
  .navsec {
      background-color:gray ;
     border:1px solid black;
     padding: 32px 8px;
  }
  .glow {
    background-color: lightgreen;
  }
  .hoverglow:hover {
    background-color: lightgreen;
  }
  .responsive {
    width: 100%;
    height: auto;
  }


  .hone {
    font-family: 'Times New Roman';
    font-size: 48px;
    color: black;
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    background-color: transparent;
  }
  .htwo {
    font-family: 'Times New Roman';
    font-size: 24px;
    color: black;
    text-align: left;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    word-spacing: double;
  }

  .hthree {
    font-family: 'Times New Roman';
    font-size: 36px;
    text-align: center;
  }

  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFD166;
    color: white;
    text-align: center;
    border:1px solid black;
    padding: 16px;
 }

  .galleryimg {
    border: 2px solid #073B4C;
    border-radius: 40px;
    padding: 1px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
   } 

   .galleryimg1 {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    padding-bottom: 2%;
   } 
